#StudentTable input {
	margin-left: 5px;
}

#StudentTable {
	border:2px solid green;
	border-collapse: collapse;
	margin: 30px 30px 20px 40px;
}
#StudentTable td, th {
	border:1px solid green;
	padding: 5px;
}
#StudentTable th {
	color: #fff;
	background-color: #a7c942;
}

#StudentTable td:nth-child(9), #StudentTable th:nth-child(9){
	display: none;
}

#StudentTable td:nth-child(10), #StudentTable th:nth-child(10){
	display: none;
}

.display-cell{
	display: table-cell !important;
}

.dropDownTextArea {
	visibility: collapse;
}


#button {
	color:#fff;
	background-color: orange;
	border-radius: 3px;
	border:2px solid orange;
	margin-left: 180px;
}

#button:disabled{
	border: 1px solid grey;
	background-color: #c4c1c1;
	color: grey;
}

